/* --------------------------------------------------------------
	Header
-------------------------------------------------------------- */

.site-branding {
	@include span-columns(2);

}

.site-title {
	padding: 0 rem(50) 0 0;
	margin: rem(20) 0 rem(10);
}

.main-navigation {
	@include span-columns(10);

	@include omega();
}

.page-header {
	background-color: white;
	@include breakpoint($medium-screen) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #1f1f1f;
		z-index: 12;
		display: block;
	}
}

.main-navigation {
	font-family: $sans-serif;
	padding: rem(30) 0;
	a {
		color: $gray;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;

		}
	}

}

.menu {
	ul {
		@extend %inline-list;
		float: right;
		> li {
			text-transform: uppercase;
			font-size: rem(13);
			margin-left: rem(50);
		}
	}
}

/* --------------------------------------------------------------
	Slider
-------------------------------------------------------------- */

#hero-header {
	.item {
		padding: 0;
		@include media($medium-screen){
			padding: rem(20) 0;
		}
		@include media($large-screen){
			padding: rem(70) 0;
		}
		@include media($xlarge-screen){
			padding: rem(180) 0;
		}
		figure {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			-webkit-animation: feature-bg-anim .6s ease-in-out;
			animation: feature-bg-anim .6s ease-in-out;
			overflow: hidden;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.color-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(18, 30, 33, .3);
		z-index: 99;
	}
	.item-desc {
		-webkit-animation: feature-text-anim .75s ease-in-out;
		animation: feature-text-anim .75s ease-in-out;
		z-index: 100;
		position: relative;
		width: 100%;
		max-width: 956px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;

		text-align: center;
		text-rendering: optimizeLegibility;
		@include media($small-screen){
			padding: 15px 20px;
		}
		@include media($medium-screen){
			padding: 25px;
		}
		@include media($large-screen){
			padding: 32px;
		}
		p {
			font-size: 14px;
			line-height: 1.5em;
			text-transform: none;
			letter-spacing: 1px;
			font-weight: 400;
			font-style: italic;
			color: #fff;
			margin: 10px auto;
			-webkit-transform: translatez(0);
			@include media($medium-screen){
				font-size: 22px;
				margin: 12px auto;
			}
			@include media($large-screen){
				font-size: 24px;
				margin: 20px auto;
			}

			strong {
				font-family: $sans-serif;
				font-size: 20px;
				line-height: 1em;
				text-transform: uppercase;
				font-weight: 700;
				font-style: normal;
				color: #fff;
				@include media($medium-screen){
					font-size: 40px;
				}
				@include media($large-screen){
					font-size: 50px;
				}
				@include media($xlarge-screen){
					font-size: 60px;
				}
			}
		}
		.cta {
			border: 2px solid #FFF;
			font-size: rem(10);
			padding: 0;
			font-weight: normal;
			margin: 0;

			display: inline-block;
			text-decoration: none;
			min-width: 120px;
			font-style: normal;
			text-transform: uppercase;
			font-family: $sans-serif;
			color: #FFF;
			@include media($medium-screen){
				font-size: rem(12);
				padding: rem(3) rem(10);
				margin: rem(15) 0 0 0;


			}
			@include media($large-screen){
				font-size: rem(14);
				padding: rem(6) rem(20);

			}
			&:hover, &:active {
				color: #000;
				background: #FFF;
				text-decoration: none !important;
			}
		}
	}

}

/* --------------------------------------------------------------
	Owl Slider
-------------------------------------------------------------- */

.owl-controls {
	margin-top: -30px;
	text-align: center;
	z-index: 110;
	position: relative;
	@include media($medium-screen){
		margin-top: -50px;


	}
	/* Styling Next and Prev buttons */
	.owl-buttons div {
		color: #FFF;
		display: none;
		zoom: 1;
		*display: inline; /*IE7 life-saver */
		margin: 5px;
		padding: 3px 10px;
		font-size: rem(30);
		border-radius: 30px;
		//	background: #FFF;
		filter: Alpha(Opacity=50); /*IE7 fix*/
		opacity: 0.5;
		@include media($medium-screen){
			top: -180px;
			display: inline-block;
		}
		@include media($large-screen){
			top: -320px;
			display: inline-block;
		}
		position: absolute;
		&.owl-next {
			right: 0;
		}
		&.owl-prev {
			left: 0;
		}
	}

	/* Clickable class fix problem with hover on touch devices */
	/* Use it for non-touch hover action */
	&.clickable .owl-buttons div:hover {
		filter: Alpha(Opacity=100); /*IE7 fix*/
		opacity: 1;
		text-decoration: none;
	}

	/* Styling Pagination*/

	.owl-page {
		display: none;
		zoom: 1;
		*display: inline; /*IE7 life-saver */
		@include media($medium-screen){
			display: inline-block;


		}
		span {
			display: block;
			width: 10px;
			height: 10px;
			margin: 5px 4px;
			filter: Alpha(Opacity=80); /*IE7 fix*/
			opacity: 0.8;
			border-radius: 20px;
			background: #FFF;
		}
	}

	.owl-page.active span,
	&.clickable .owl-page:hover span {
		filter: Alpha(Opacity=100); /*IE7 fix*/
		opacity: 1;
		background: #000;

	}

	/* If PaginationNumbers is true */
	.owl-page span.owl-numbers {
		height: auto;
		width: auto;
		color: #FFF;
		padding: 2px 10px;
		font-size: 12px;
		border-radius: 30px;
	}
}

/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}