#stats {
	background: $seashell;
	@include media($large-screen) {
		background: $seashell url("../img/leica-m.jpg") center 400px no-repeat;
		padding-bottom: rem(300);
	}
	.container {
		@extend .row;
	}
}

.stats-intro {
	color: black(0.8);
	text-align: center;
	margin: 0 auto rem(60);
	float: none;
	width: 100%;
	p {
		font-style: italic;
	}
	@include media($medium-screen) {
		width: 73%;
	}
}

.stats-content {
	display: block;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	padding: 0;

	> * {
		margin: 0;
		float: left;
		font-size: rem(11);
		line-height: rem(11);
		text-transform: uppercase;
		color: $gray;
		&:hover a, &:focus a {
			text-decoration: underline;
		}
		a {
			color: $gray;
		}
		&.current {
			cursor: default;
			color: $gray-dark;
			a {
				cursor: default;
				color: $gray-dark;
			}
		}

		&.current:hover, &.current:hover a, &.current:focus, &.current:focus a {
			text-decoration: none;
		}
		&.unavailable {
			color: $gray-light;
			a {
				color: $gray-light;
			}

			&:hover, &:hover a, &:focus,
			a:focus {
				text-decoration: none;
				color: $gray-light;
				cursor: default;
			}
		}

		&:before {
			@include media($large-screen){
			content: "/";
			color: black(0.15);
			margin: 0 0.75rem;
			position: absolute;
			top: rem(42);
			left: rem(-24);
			font-size: rem(100);
			}

		}

		&:first-child:before {
			content: " ";
			margin: 0;
		}
	}
}

.stat {
	text-align: center;
	width: 100%;
	position: relative;
	margin-bottom: rem(40);
	@include media($medium-screen) {
		width: 50%;
	}
	@include media($large-screen) {
		width: 25%;
		margin-bottom: 0;
	}
}

.number {
	font-size: rem(80);
	line-height: 1;
	font-style: italic;
	@include media($medium-screen) {

		font-size: rem(110);

	}	}

.type {
	display: inline-block;
	font-style: italic;
	font-size: rem(18);
	color: black(0.6);
	text-transform: none;
}