/* --------------------------------------------------------------
	Main Layout
-------------------------------------------------------------- */

.container {
	@include outer-container();
}

.row {
	@include clearfix;
	padding: 0 rem(15);
	@include media($medium-screen) {
		//		padding: 0;
	}
}

.main-content {
	padding: rem(50) 0 rem(100);
	.container {
		padding: 0 rem(15);
	}
}

.section-wrap {
	padding: rem(50) 0;

	h2 {
		text-align: center;
		font-family: $sans-serif;
		font-size: rem(26);
		text-transform: uppercase;
		letter-spacing: rem-calc(4);
		color: white;
		border-bottom: 4px solid white(0.15);
		display: inline-block;
		line-height: 2.2;
	}
	&.alt h2 {
		color: black;
		border-bottom: 4px solid black(0.15);

	}
}

/* --------------------------------------------------------------
	Featured Photos
-------------------------------------------------------------- */
#featured-photos {
	background: $mine;
	padding-bottom: 0;
	background: url("../img/noise.png"), radial-gradient(ellipse at 50% 0%, #2e2e2e 10%, #2e2e2e 50%, #232323 120%);
	> .container {
		@extend .row;
	}
}

.featured-photos-intro {
	color: white(0.8);
	text-align: center;
	margin: 0 auto rem(60);
	float: none;
	width: 100%;
	p {
		font-style: italic;
	}

	@include media($medium-screen){

		width: 73%;

	}
}

.featured-photos-content {
	@include row();

	.photo {
		position: relative;
		float: left;
		width: 50%;
		overflow: hidden;
		margin: 0;
		a {
			text-decoration: none;
		}
		img {
			display: block;
			margin: 0;
			padding: 0;
			max-width: 100%;
			height: auto;
		}

		@include media($medium-screen){

			width: 20%;

		}

	}
}

.overlay {
	display: block;
	position: absolute;
	z-index: 20;
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	transition: all 0.5s;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	a.expand {
		left: 0;
		right: 0;
		bottom: 50%;
		margin: 0 auto -30px auto;
	}
}

a.close-overlay {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	width: 45px;
	height: 45px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 45px;
	text-align: center;
	background-color: #000;
	cursor: pointer;
	&.hidden {
		display: none;
	}
}

a.expand {
	display: block;
	position: absolute;
	z-index: 100;
	text-align: center;
	color: white(1);
	line-height: 50px;
	font-weight: 700;
	font-size: rem(20);
	border-radius: 30px;
	font-family: $sans-serif;
	text-transform: uppercase;
	letter-spacing: rem(3);
	&:hover, &:focus {
		color: white(1);
	}
}

.featured-photos-content .photo.hover .overlay {
	opacity: 1;
}

/* --------------------------------------------------------------
	Blog
-------------------------------------------------------------- */
.blog-intro {
	color: black(0.8);
	text-align: center;
	margin: 0 auto rem(60);
	float: none;
	width: 100%;
	p {
		font-style: italic;
	}
	@include media($medium-screen) {
		width: 73%;

	}
}

.blog-content {

	@extend .row;
	.post {
		@include span-columns(12);

		@include media($medium-screen) {
			@include span-columns(4);
			&:last-child {
				@include omega();
			}
		}
	}
}

.post {
	a {
		color: $gray;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.entry-header {
	text-align: center;
	margin-bottom: rem(25);
	h1 {
		font-size: rem(24);
		font-family: $sans-serif;
		line-height: 1.4;
		color: black;
		a:hover, a:focus {
			color: black;
		}
	}
	.entry-meta {
		color: black(0.6);
		font-size: rem(14);
		a {
			color: black(0.6);
		}
	}
}

